@model WebDrive.Models.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
}

<section id="loginForm">
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>

    <p class="message-success">@ViewBag.StatusMessage</p>

    <p>You're logged in as <strong>@User.Identity.Name</strong>.</p>

    @if (ViewBag.HasLocalPassword)
    {
        @Html.Partial("_ChangePasswordPartial")
    }
    else
    { 
        @Html.Partial("_SetPasswordPartial")
    }

</section>

<section id="socialLoginForm">
    @{
        //Html.RenderPartial("~/Views/ValidationCode/_CodeDisplay.cshtml");
        Html.RenderAction("_CodeDisplay", "ValidationCode");
    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
