@{
    ViewBag.Title = "Home Page";
}

@section head{
    <script type="text/javascript" src="/Scripts/slider/unslider.min.js" ></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.banner').unslider({
                speed: 500,               //  The speed to animate each slide (in milliseconds)
                delay: 3000,              //  The delay between slide animations (in milliseconds)
                complete: function () { },  //  A function that gets called after every slide animation
                keys: true,               //  Enable keyboard (left, right) arrow shortcuts
                dots: true,               //  Display dot navigation
                fluid: true              //  Support responsive design. May break non-responsive designs
            });
        });
    </script>
    <link rel="stylesheet" href="/Content/IndexStyle.css">
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
@*            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about ASP.NET MVC visit
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                If you have any questions about ASP.NET MVC visit
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
            </p>*@
            <div class="banner">
                <ul>
                    <li style="background-image: url(/Content/img/slider1.png)">
                    </li>
                    <li style="background-image: url(/Content/img/slider2.png)">
                        <h1>Easy</h1>
                        <p>Now, it's very easy to share your files without login.</p>
                    </li>
                    <li style="background-image: url(/Content/img/slider3.png)">
                        <h1>Fast Safe </h1>
                        <p>The most fast and safe way to login</p>
                        <p>Anonymous register to sign up is a safe way.</p>
                        <p>QR code log in is faster than any other way.</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>
}

<div style="text-align:center;">
    <h3>You can get sharing files by following 2 ways</h3>
    <a class="btn" href="@Url.Action("GetQRCodeShare","Share")">QR Code</a>&nbsp&nbsp&nbsp&nbsp
    <a class="btn" href="@Url.Action("GetCodeShare","Share")">Validation Code</a>
    <br />
    <br />
    <h3>Upload and share files without register!</h3>
    <a class="btn" href="@Url.Action("AnonymousUpload","UserFile")">UPLOAD</a>
    <br />
    <br />
</div>

@section introduction{
    <div id="features" class="features">
        <section class="content-wrapper clear-fix">
            <h2>Features:</h2>
            <br />
            <ul class="wrap">
                <li class="responsive">
                    <b>Fast</b>
                    <p>We created a new way to login and fetch sharing files. Users just need use their QR code or validation code that can easy to use.</p>
                </li>
                <li class="responsive">
                    <b>Anonymous</b>
                    <p>Every one can upload and share thire files withous login and register. The personal information will not be leaked.</p>
                </li>
                <li class="responsive">
                    <b>Authorization</b>
                    <p>Every shared file have a very strict autorization control. Nobody will access your will without permission.</p>
                </li>
            </ul>
        </section>
    </div>
    <div id="options" class="options">
        <section class="content-wrapper clear-fix">
            <h2>How to upload:</h2>
            <img src="/Content/img/workflow1.png" height="365px"/>
        </section>
    </div>
}
